@media only screen and (min-width: 768px) {
  .image-list {
    width: 70%;
    margin: 0 auto;
  }
}

.add-icon {
  position: fixed;
  bottom: 10px;
  right: 0px;
  z-index: 9999;
  margin-right: 20px;
}

.bold {
  font-weight: bold;
}
